.seoBanner {
    text-align: center;
    width: 100%;
    background: url('/images/seo/seo-banner.png') no-repeat;
    background-size: cover;
    background-position: 80% 40%;
    height: 100vh;
    padding: 120px 0 80px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0F0F0F;
}
.seoBannerContent{
    max-width: var(--max-width);
    margin: 0 auto;
}

.btnWrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seoBannerParagraph{
    width: 900px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;    
}
.seoBannerButtonLink{
    color: #f0f8fd;
    background: #f15d22;
    border-radius: 40px;
    box-shadow: 0 0 20px #fdf6f0;
    padding: 10px 60px;
    margin-top: 40px;
    display: inline-block;
    margin: 0 10px;
}

.boxes{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    /* border: 1px solid red; */
}

.boxes div{
    position: absolute;
    height: 78px;
    width: 78px;
    background: url('/images/banner-sm-box.png');
    background-size: cover;
    border-radius: 5px;
}

.boxes div:hover{
    background-image: linear-gradient(to top right, rgba(182, 58, 58, 0.231), transparent);
}

.box1{   
    top: 425px;
    left: 145px;
}

.box2{
    top: 500px;
    left: 63px;
    transform: rotate(180deg);
}

.box3{
    top: 300px;
    right: 65px;
}


@media (max-width: 768px) {
    .seoBanner {
        padding: 80px 15px 50px 15px;
    }

    .seoBannerParagraph {
        width: 100%;
        max-width: 100%;
        font-size: 15px;
        text-align: center;
        font-weight: 300;
        /* border: 1px solid red; */
    }

    .seoBannerButtonLink {
        padding: 8px 30px;
        font-size: 14px;
        margin-top: 30px;
    }

    .boxes{
        display: none;
    }
}