/* Wrapper */
.container {
  width: 100%;
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 80px;
  padding-bottom: 80px;

  text-align: center;
}

/* Title */
.heading {
  color: #ffffff;

  font-size: 48px;
  font-weight: 900;

  margin-bottom: 60px;
}

/* Grid Layout */
.grid {
  display: grid;
  gap: 28px;

  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* Card */
.card {
  position: relative;
  z-index: 0;

  overflow: hidden;

  padding: 20px;

  border-radius: 9px;
  background-color: #0f0f0f;
}

/* Gradient Border */
.card::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: inherit;
  padding: 1px;

  background-image: linear-gradient(to bottom right, #0f0f0f, #beb0b0);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
  z-index: -1;
}

/* Background Layer */
.card::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('/images/Careers/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  z-index: -2;
}

/* Hover Effect */
.card:hover::after {
  opacity: 1;
}

/* Icon */
.icon img {
  width: 60px;
  height: 60px;

  object-fit: contain;

  margin-bottom: 5px;
}

/* Card Title */
.cardTitle {
  color: #ffffff;

  font-size: 24px;
  font-weight: 600;

  padding-top: 10px;
  padding-bottom: 10px;

  text-align: left;
}

/* Card Content */
.cardContent {
  font-size: 17px;
  text-align: left;
}

/* Responsive */
@media screen and (max-width: 786px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-left: 16px;
    padding-right: 16px;
  }

  .heading {
    font-size: 28px;
  }
}