.frame{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.title{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}

.description{
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
}

.footer{
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.optionList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: flex 0.4s ease;
}

.optionBtn {
  position: relative;
  background: transparent;
  border: 1px solid #913714;
  color: #bbb;
  padding: 20px 36px;
  text-align: left;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.optionBtn:hover {
  color: #913714;
}

.active {
  background: linear-gradient(10deg, #211C4B, #F15D22);
  color: #fff;
  border: none; 
  padding: 20px 65px 20px 36px;
}

.active:hover {
  color: white;
  cursor: auto;
}

.active::after {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid white;
}

.optionContent {
  min-height: 150px;
  padding: 25px;
  border: 1px solid #913714;
  border-radius: 10px;
  background-image: url('/images/common-option-selector-bg.png');
  background-size: cover;
  background-position: center;
  text-align: left;
  font-size: 18px;
  color: #ccc;
  line-height: 1.6;
  transition: opacity 0.4s ease, transform 0.4s ease, flex 0.4s ease;
  opacity: 1;
}

.optionContent ul li {
  font-size: 18px;
}

.fadeOut {
  opacity: 0;
  transform: translateY(10px);
}
.desktopOnly {
  display: block;
}

.optionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.optionContentMobile {
  display: none;
  padding: 20px;
  border: 1px solid #913714;
  border-top: none;
  background-image: url('/images/common-option-selector-bg.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 0 0 8px 8px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .desktopOnly {
    display: none;
  }

  .title {
    font-size: 28px;
    padding: 0 10px;
  }

  .description {
    font-size: 16px;
    padding: 10px;
  }

  .container {
    flex-direction: column;
    padding: 20px 15px;
    gap: 10px;
  }

  .optionBtn::after,
  .active::after {
    display: none;
  }

  .optionList {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .optionContentMobile {
  display: block;
  padding: 20px;
  border: 1px solid #913714;
  border-top: none;
  background-image: url('/images/common-option-selector-bg.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 0 0 8px 8px;
  margin-bottom: 10px;

  overflow: hidden;

  max-height: 0;
  opacity: 0;

  animation: expandMobile 0.5s ease forwards;
}
@keyframes expandMobile {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}

  .optionBtn {
    width: 100%;
    font-size: 18px;
    padding: 15px 20px;
    text-align: left;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg, #622841 0%, #a44026 100%);
    color: #fff;
    cursor: pointer;
  }

  .active {
    background: linear-gradient(90deg, #622841 0%, #a44026 100%);
    color: #fff;
    border-radius: 8px 8px 0 0;
  }

  .active::after {
    right: 20px;
  }

  .optionContentMobile ul {
    list-style: disc;
    padding-left: 20px;
  }

  .optionContentMobile li {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.4;
  }
}