.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  color: #fff;
  padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1 1 55%;
}

.title {
  padding-bottom: 20px;
}

.highlited {
  color: #F15D22;
  font-size: 24px;
  margin-bottom: 14px;
}

.description {
  font-size: 24px;
}

.accordionWrapper {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordionItem {
  border: 1px solid #222;
  border-radius: 10px;
  overflow: hidden;
  background: url('/images/faq-black-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 10px -2px rgba(255, 255, 255, 0.5);
}

.accordionItem:hover {
  background: url('/images/faq-bg-lg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.accordionHeader {
  width: 100%;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}

.arrowContainer {
  background-color: black;
  height: 40px;
  width: 42px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.arrow {
  height: 60%;
  width: 40%;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.accordionItem:hover .arrow {
  filter: brightness(0) invert(1);
}

.flip {
  transform: scaleY(-1);
  filter: brightness(0) invert(1);
}

.accordionContent {
  padding: 16px 20px;
  color: #ccc;
  /* border-top: 1px solid #333; */
}

.accordionContent p {
    font-size: 18px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 20px;
    flex-direction: column;
  }
  .highlited {
    font-size: 20px;
  }
}
