/* SEO Section */
.seoBg {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    padding-top: 120px;
    padding-bottom: 80px;

    text-align: center;

    background-image: url('/images/seo/seo-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 40%;

    border-bottom: 1px solid #0f0f0f;
}

/* Container */
.frame {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;

    gap: 15px;
}

/* Highlight Text */
.highlightParagraph {
    font-weight: 800;
    color: #f15d22;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .seoBg {
        height: unset;
    }

    .frame {
        margin: 10px 20px;
    }

    .frame p {
        font-size: 20px;
    }
}