.frame {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}

.title {
    /* font-size: 28px; */
    margin: 0 auto;
    text-align: center;
}

.description {
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 0px;
    margin-top: 40px;
}

.optionList {
    /* border: 1px solid yellow; */
    display: flex;
    /* margin-left: 75px; */
    /* margin-right: 75px; */
    overflow: scroll;
    flex-direction: row;
    /* gap: 4px; */
    /* width: calc(100% - 150px); */
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    -ms-overflow-style: auto;
    scrollbar-gutter: stable both-edges;
    /* padding: 8px 6px; */
    margin: 0 auto;
    margin-bottom: 10px;
}

.optionBtn {
    height: 100%;
    width: 275px;
    position: relative;
    background: transparent;
    font-weight: "Gilroy-Bold" !important;
    color: #bbb;
    flex: 0 0 auto;
    line-height: normal;
    max-width: 90%;
    font-size: 20px;
    padding: 12px;
    text-align: left;
    white-space: normal;
    font-weight: normal;
    word-wrap: break-word;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid brown;
}

.optionBtn:hover {
    color: #913714;
}

.active {
    background: linear-gradient(10deg, #211C4B, #F15D22);
    /* background-image: url('/images/selector-button-bg.png'); */
    color: #fff;
    border: none;
    font-weight: bold;
    /* padding-right: 44px; */
}

.active:hover {
    color: white;
    cursor: auto;
}

/* .active::after {
    content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
} */

.optionContent {
    width: 100%;
    max-width: 100%;
    /* margin-top: 12px; */
    min-height: 150px;
    padding: 75px;
    border: 1px solid #913714;
    border-radius: 10px;
    background-image: url('/images/common-option-selector-bg.png');
    background-size: cover;
    background-position: center;
    text-align: left;
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
    transition: opacity 0.4s ease, transform 0.4s ease, flex 0.4s ease;
    opacity: 1;
}

.optionList::-webkit-scrollbar {
    height: 10px;
}

.optionList::-webkit-scrollbar-track {
    background: transparent;
}

.optionList::-webkit-scrollbar-thumb {
    background-color: #913714;
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.fadeOut {
    opacity: 0;
    transform: translateY(10px);
}

.desktopOnly {
    display: block;
}

.optionWrapper {
    width: 100%;
}

.optionContentMobile {
    display: none;
}


@media (max-width: 767px) {
    .frame {
        padding: 30px 0;
    }

    .desktopOnly {
        display: none;
    }

    .description {
        font-size: 18px;
        margin-top: 8px;
    }

    .container {
        margin-top: 20px;
    }

    .optionBtn {
        height: 42px !important;
        font-size: 16px !important;
    }

    .optionList {
        flex-direction: column;
        width: 100%;
        margin: 0;
        /* padding: 0 20px; */
        overflow: visible;
        gap: 15px;
    }

    .optionBtn {
        font-size: 18px;
        height: 65px;
        width: 100%;
        max-width: 100%;
        padding: 12px 20px;
        background-image: url('/images/selector-button-bg-transparent.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: none;

    }

    .active {
        background-image: url('/images/selector-button-bg.png');
    }

    .optionContentMobile {
        display: block;
        width: 100%;
        padding: 25px;
        box-shadow: inset 0 0 0 0.5px #F15D22;
        /* border-radius: 10px; */
        /* margin-top: 10px; */
        background-image: url('/images/common-option-selector-bg.png');
        background-size: cover;
        background-position: center;
        color: #ccc;
        font-size: 12px;
        line-height: 1.6;
        transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .optionContent {
        display: none;
    }
}