.seoBanner {
    text-align: center;
    width: 100%;
    background: url('/images/seo/seo-banner.png') no-repeat;
    background-size: cover;
    background-position: 80% 40%;
    height: 100vh;
    padding: 120px 0 80px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0F0F0F;
}
.seoBannerContent{
    max-width: var(--max-width);
    margin: 0 auto;
}
.seoBannerParagraph{
    width: 900px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.seoBannerButtonLink{
    color: #f0f8fd;
    background: #452617;
    border-radius: 40px;
    box-shadow: 0 0 20px #fdf6f0;
    padding: 10px 60px;
    margin-top: 40px;
    display: inline-block;
}

@media (max-width: 768px) {
    .seoBanner {
        padding: 80px 15px 50px 15px;
    }

    .seoBannerParagraph {
        width: 100%;
        max-width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .seoBannerButtonLink {
        padding: 8px 30px;
        font-size: 14px;
        margin-top: 30px;
    }
}