.container{
    max-width: 1200px;
    margin: 60px auto;
}

.title{
    margin-bottom: 20px;
}

.description{
    line-height: 1.5;
}

@media (max-width: 786px) {
    .container{
        padding: 0 16px;
        text-align: center;
    }
}