.wrapper {
  width: 100%;
  background: radial-gradient(ellipse 70% 50% at center, #5d1b16, #000 80%);
  padding: 40px 0 80px 0;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}

/* FILTER BAR */
.filters {
  display: flex;
  justify-content: start;
  gap: 14px;
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 50px;
  border-radius: 12px;
  overflow: auto;
  white-space: nowrap;
  /* prevents wrapping */
}

.filters::-webkit-scrollbar {
  height: 6px;
}

.filters::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.filters::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.filters::-webkit-scrollbar-thumb:hover {
  background: #E73E25;
}


.filterBtn {
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 15px;
  color: #eee;
  cursor: pointer;
  transition: .25s;
  user-select: none;
}

.filterBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.active {
  background: #E73E25;
  border-color: #E73E25;
  color: #fff;
}

/* CARDS GRID */
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  text-align: left;
}

/* CARD */
.card {
  position: relative;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;
  transition: .3s;
  border: 1px solid grey;
}

/* IMAGE */
.imageWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CATEGORY PILLS */
.pills {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  z-index: 2;
}

.pill {
  background: rgba(255, 255, 255, 1);
  color: #E73E25;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 2px;
  font-weight: 500;
}

/* CONTENT */
.cardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 24px;
  /* background: linear-gradient(
    180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.7) 30%,
    rgba(0,0,0,0.9) 100%
  ); */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.3;
}

.date {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 16px;
}


.cardButton {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: #fff;
  border: 1px solid #ffffff;
  padding: 6px 12px;
  border-radius: 9px;
  text-decoration: none;
  transition: all .3s;
  margin-top: auto;
  width: fit-content;
}

.cardButton:hover {
  /* background: rgba(0, 0, 0, 1); */
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
}

.icon {

  transition: .3s;
}

.cardButton:hover .icon {
  transform: translateX(4px);
  background: url('/images/box-arrow-hover.svg');
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 45px;
}

.pageBtn {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 1);
  color: #000;
  cursor: pointer;
  font-size: 24px;
  transition: .25s;
}

.pageBtn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.activePage {
  background: #E73E25;
  border-color: #E73E25;
  color: #fff;
}

.activePage:hover {
  background: #E73E25;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  user-select: none;
}

/* Tablet */
@media (max-width: 1024px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  .layout {
    padding: 0 16px;
  }

  .sectionTitle {
    font-size: 32px;
    margin-bottom: 24px;
  }

  /* Make filters horizontally scrollable */
  .filters {
    display: flex;
    justify-content: flex-start;
    /* important */
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    /* important */
    padding: 10px 16px;
    gap: 10px;
    border-radius: 8px;
    margin: 0 auto 32px auto;
    scrollbar-width: none;
  }

  .filters::-webkit-scrollbar {
    display: none;
  }

  .filterBtn {
    flex: 0 0 auto;
  }

  .cardsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    padding: 14px;
  }

  .cardCategory {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .cardTitle {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .cardDescription {
    font-size: 15px;
    margin-bottom: 16px;
  }

  .cardButton {
    font-size: 14px;
    padding: 5px 10px;
  }

  .pagination {
    gap: 6px;
    margin-top: 30px;
  }

  .pageBtn {
    width: 34px;
    height: 34px;
    font-size: 20px;
  }
}

.loading {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 50px 0;
  width: 100%;
}