.CommonAccordion {
  /* width: 1200px; */
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.CommonAccordion h2 {
  /* width: 1000px; */
  margin: 0 auto;
}

.subheding2 {
  font-size: 24px;
}

.CommonAccordion p {
  color: #F15D22;
  font-family: var(--font-family-bold);
  /* width: 1000px; */
}

.CommonAccordion span {
  font-size: 24px;
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.accordionWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: left;
}

.accordionItem {
  background: #111;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordionItem.active {
  border: 1px solid transparent;
  border-radius: 8px;
  background:
    linear-gradient(#111, #111) padding-box,
    linear-gradient(285.81deg, #FFFFFF -67.61%, #500D0D 107.82%) border-box;
}

.accordionHeader {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: 24px;
  font-weight: 500;
  padding: 18px 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
}

.accordionContent {
  max-height: 0px;
  overflow: hidden;
  padding: 0 16px 0px 16px;
  font-size: 24px;
  line-height: 1.6;
  color: #ccc;
  overflow: hidden;
  /* transition: max-height 0.4s ease, padding 0.4s ease; */
  transition: all 0.4s ease;
  backdrop-filter: blur(100px);
  background: linear-gradient(180deg, #00000000, #e63d261f);
}

.accordionContent.open {
  max-height: 500px;
  /* Adjust based on your content height */

  padding: 0 16px 10px 16px;
}


.accordionContent ul li {
  font-size: 24px;
}

@media (min-width:1200px) {
  .CommonAccordion {
    width: 1200px;
  }
}

/* Mobile devices */
@media (max-width: 768px) {

  .subheding2 {
    font-size: 16px;
  }

  .CommonAccordion {
    width: 100%;
    padding: 30px 16px;
    gap: 8px;
  }

  .CommonAccordion h2 {
    width: 100%;
    margin: 0 auto;
  }

  .CommonAccordion p {
    width: 100%;
    font-size: 16px;
    margin: 0px auto;
    line-height: 1.4;
    font-weight: normal;
  }

  .CommonAccordion span {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    font-weight: normal;
    line-height: 1.5;
  }

  .accordionWrapper {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .accordionHeader {
    padding: 16px 15px;
    font-size: 16px;
  }

  .accordionHeader h4 {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding-right: 10px;
  }

  .accordionContent {
    /* padding: 12px 15px; */
    font-size: 14px;
    line-height: 1.5;
  }

  .accordionContent h5 {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
  }

  .icon svg {
    width: 18px;
    height: 16px;
  }
}