.frame {
  color: #fff;
  padding: 80px 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 18px;
  max-width: 1200px;
  position: relative;
  background: radial-gradient(circle at 90% 40%, #741541 0%, #000000 50%);
  z-index: 1; /* Puts the main frame on top of the pseudo-element */
}

.frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px;
  padding: 1px; /* This is the border thickness */
  background: linear-gradient(to bottom right, #741515, #FFF);
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.innerFrame{
  max-width: 1009px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
  .heading {
    /* text-align: left; */
    font-size: 50px;
  }

  @media (max-width: 768px) {
    .frame{
      margin: 20px;
      padding: 80px 10px;
    }
    
    .heading{
      font-size: 36px;
    }

    .frame p{
      font-size: 18px;
    }
  }